@font-face {
	font-family: 'sg-regular';
	src: url('#{$directory-font}/sg-font.eot');
	src:
        local('☺'),
        url('#{$directory-font}/sg-font.woff') format('woff'),
        url('#{$directory-font}/sg-font.ttf') format('truetype'),
        url('#{$directory-font}/sg-font.svg') format('svg');
	font-weight: regular;
	font-style: normal;
}
