nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 997;

  ul {
    padding-inline-start: 0px;
    overflow: hidden;
    padding-bottom: 3px;

    li {
      display: inline-block;
      list-style: none;
      margin-right: 40px;

      a {
        font-family: 'sg-sans';
        font-weight: 100;
        color: $light;
        font-size: 16px;
        letter-spacing: 0.04em;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        padding-bottom: 3px;

        span {
          &:nth-child(1){
            transform: translateY(0%);
            display: inline-block;
            transition: all .7s cubic-bezier(.19,1,.22,1);
          }
          &:nth-child(2){
            position: absolute;
            transform: translateY(100%);
            right: 0;
            display: inline-block;
            transition: all .7s cubic-bezier(.19,1,.22,1);
            opacity: 0;
          }
        }

        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          left: 0;
          bottom: 0;
          background: $light;
          transform: scaleX(0);
          transition: transform .7s cubic-bezier(.19,1,.22,1);
          transform-origin: right;
        }

        &:hover {
          color: $light;

          span {
            &:nth-child(1){
              transform: translateY(-100%);
            }
            &:nth-child(2){
              transform: translateY(0%);
              opacity: 1;
            }
          }

          &:after {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }
    }
  }
}

.navigation {
  position: absolute;

  &-mob {
    position: fixed;
    top: 4vw;
    width: 100%;
    z-index: 999;
    overflow: hidden;
    pointer-events: none;
  }

  &--content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    pointer-events: none;
    opacity: 0;
    transition-delay: 0.6s;
    text-align: right;

    &__inner {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-end;

      &-items {

        &.active {
          pointer-events: visible;
        }

        ul {
          li {
            font-family: $secondary-font;
            font-size: 48px;
            list-style: none;
            margin: 50px 0 50px 0;
            opacity: 0;

            a {
              position: relative;
              overflow: hidden;
              white-space: nowrap;
              color: $light;

              &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                bottom: 0;
                background: $light;
                transform: scaleX(0);
                transition: transform .7s cubic-bezier(.19,1,.22,1);
                transform-origin: right;
              }

              &:hover {
                color: $light;

                span {
                  &:nth-child(1){
                    transform: translateY(-100%);
                  }
                  &:nth-child(2){
                    transform: translateY(0%);
                    opacity: 1;
                  }
                }

                &:after {
                  transform: scaleX(1);
                  transform-origin: left;
                }
              }
            }
          }
        }
      }

      &-links {

        &.active {
          pointer-events: visible;
        }

        ul {
          li {
            font-size: 14px;
            display: inline-block;
            list-style: none;
            font-family: $secondary-font;
            letter-spacing: 0.055em;
            margin-left: 40px;

            a {
              position: relative;
              overflow: hidden;
              white-space: nowrap;
              color: $light;
              text-transform: uppercase;
              font-weight: 400;
              padding-bottom: 3px;

              &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                left: 0;
                bottom: 0;
                background: $light;
                transform: scaleX(1);
                transition: transform .7s cubic-bezier(.19,1,.22,1);
                transform-origin: left;
              }

              &:hover {
                color: $light;

                span {
                  &:nth-child(1){
                    transform: translateY(-100%);
                  }
                  &:nth-child(2){
                    transform: translateY(0%);
                    opacity: 1;
                  }
                }

                &:after {
                  transform: scaleX(0);
                  transform-origin: right;
                }
              }
            }
          }
        }
      }
    }

    &__item {
      position: absolute;
      width: 100%;
      height: 33.4%;
      left: 0;
      background: #101010;

      &:nth-child(2) {
        top: 0;
        transform: scaleX(0);
        transition: all .7s cubic-bezier(.19,1,.22,1);
        transform-origin: left;

        &.active {
          transform: scaleX(1);
          pointer-events: visible;
        }
      }

      &:nth-child(3) {
        top: 33.33333%;
        transform: scaleX(0);
        transition: all .7s cubic-bezier(.19,1,.22,1);
        transform-origin: left;
        transition-delay: .1s;

        &.active {
          transform: scaleX(1);
          pointer-events: visible;
        }
      }

      &:nth-child(4) {
        top: 66.66666%;
        transform: scaleX(0);
        transition: all .7s cubic-bezier(.19,1,.22,1);
        transform-origin: left;
        transition-delay: .2s;

        &.active {
          transform: scaleX(1);
          pointer-events: visible;
        }
      }
    }
  }
}

.fixedPosition {
  overflow: hidden;
}
.show {
  opacity: 1;
  transition-delay: 0s;
}
