h1 {
  font-family: $main-font;
  font-size: 10.5vw;
  line-height: 1.2;
  color: $light;
  margin: 0;

  span {
    display: inline-block;
  }

  @media (min-width: 576px) {
    font-size: 8vw;
  }
  @media (min-width: 768px) {
    font-size: 7vw;
  }
  @media (min-width: 992px) {
    font-size: 5vw;
  }
  @media (min-width: 1200px) {
    font-size: 4.6vw;
  }
}

p {
  font-family: $main-font;
  font-size: 4.3vw;
  line-height: 1.4;
  color: $light;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 40px 0px 50px 0px;

  span {
    display: inline-block;
  }

  @media (min-width: 576px) {
    font-size: 3vw;
  }
  @media (min-width: 768px) {
    font-size: 2.3vw;
  }
  @media (min-width: 992px) {
    font-size: 1.8vw;
  }
  @media (min-width: 1200px) {
    font-size: 1.5vw;
  }
}
