$directory-font:  "../../src/fonts" !default;
$directory-image: "../../src/img" !default;


$light:         #ffffff !default;
$dark:          #000000 !default;


$line-height: 1.5 !default;
$line-height-sm: 1.5 !default;
$line-height-lg: 1.3 !default;


$light-forest: #C1CAB7;
$dark-pink: #FFEFE9;

$transition-main: cubic-bezier(.78,.15,.99,.36) all .3s;
